.container2 {
  height: 100vh; /* Full viewport height */
  overflow-y: auto; /* Enables scrolling */
}

.section1 {
  height: 100vh; /* Full viewport height for each section */
}
.section2 {
  height: 100vh; /* Full viewport height for each section */
}
.section3 {
  height: 100vh; /* Full viewport height for each section */
}
.section4 {
  height: 100vh; /* Full viewport height for each section */
  position:relative;
  margin-top: 20vh;
}
.section5{
  position:relative;
  margin-top:100vh;
}
